/* UNIVERSAL SELECTOR  affect all elements, some of them not,like for example in color for h2 
beacuse they are overwritten later in the code*/
/* * {
  border-top: 10px solid #1098ad;
} */
/* -------------- */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

/* Another list to modify headings color all at once and not one by one */
h1,
h2,
h3 {
  color: #1098ad;
}

/* --------------------------------- */
h1 {
  /* color: rgb(19, 31, 194); */
  /* color: #1098ad; */
  /* color: rgba(154, 235, 235, 255); */
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  /* border: 10px solid #444 ; */
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /*It is like the separation between lines*/
}

li {
  font-size: 16px;
  line-height: 1.5;
}

/* Descendent selector */
#copyright {
  font-size: 16px;
}
/* This might work in this case, but if you have plenty of this, it can be tricky and not
very useful, so we can name the elements using id, each id can be only named once, it cannot
 be repeated, instead we can use clases and the name must be separated by a '-'
  e.g = related-author, and to call it we must use '.'*/
#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
}

.related {
  list-style: none;
}
/* classes are more relible than ID */
.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad; /*Solid-dash-dotted are the styles*/
  border-bottom: 5px solid #1098ad;
}

/* body {
  /* background-color: rgb(80, 80, 80); 
} */

/* .first-li {
  font-weight: bold;
} */

/* This is a pseudo-class that detects the first element of a list and makes it bold */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /*even, odd, or n number*/
  color: red;
}

article p:last-child {
  /* In this case, the first child (now last) of header it is not paragraph(p), but header, that is why 
  the color did not change, in this situation is not really good to use it*/
  color: red;
}

/* Styling links (can be grouped together) */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
/* -----INHERITANCE----- */
/* nav a:link {
  font-size: 18px;
} */
/* or */
nav {
  font-size: 18px;
}
